/* THE COLORS */
/* green: #237986 */
/* yellow: #d49c22 */

hr {
  height:2px;
  border-width:0;
  color: #323232;
  background-color: #323232;
}

.qm {
  font-size:8em; 
  font-weight: 900; 
  line-height: 1em;
}

.gender {
  color: #da680f; 
}

.level {
  color: #2ba25e; 
}

.region {
  color: #07529d; 
}

.subjects {
  color: #81107c; 
}

.smaller-gray {
  font-size: .7em;
  color: #323232;
}


/* third level header */
.chart-title {
  background-color: #f6f6f6;
  font-weight: bold;
  font-size: 1.2em;
}


 /* change the color and borders of sidebar on each review page. */
.section.sidebar {
  top: 61px;
  border-bottom: 10px solid #ececec;
  border-left: 10px solid #ececec;
  background-color: rgba(255, 255, 255, 1);
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 100 !important;
  height: 99% !important;
  padding-top: 25px !important;
}


/* HEADER --------------------------------------------------------------------*/
/*header for intro page of each review*/
.header-review {
  font-size: 3em;
  font-weight: bold !important;
  text-align: left;
  line-height: 1em;
  margin:35px 0 35px 0;
}

/*subheader for intro page of each review*/
.subheader-review {
  font-size: 1.2em;
  font-weight: 700;
  color: #237986;
}

.subheader-rq {
  font-size: 1.5em;
  font-weight: 700;
  color: #237986;
}


.flowing-content-container {
    background-color: #f8f8f8;
}



/* NAVBAR -------------------------------------------------------------------*/
/* change a height of a standard Bootstrap navbar. */
.navbar {
  min-height: 40px;
  background-color: #237986;
  border-color:black;
}

/* change the Title Logo & Font */
/* was #FFC814 */
.navbar-brand {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #d49c22 !important;
  font-weight: bold;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    line-height: 27px;
  }
}

/* Logo to the right in navbar */
.navbar-header {
    float: right !important;
}

/* margin to the left in navbar */
.container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 5%;
}

.nav-tabs-custom > .nav-tabs {
    background-color: #f8f8f8;  
    padding-left: 24.5%;
}

/* KACHELN FRONTPAGE -------------------------------------------------------*/

.transp {
  opacity: 0.5;
}

.transp:hover {
  opacity: 1;
}

.kachel1 {
  background-image: url('group.jpg');
  background-size: cover;
  background-color: #cccccc;
}

.kachel2 {
  background-image: url('kachel2.jpg');
  background-size: cover;
  background-color: #cccccc;
}

.kachel3 {
  background-image: url('videokonf.jpg');
  background-size: cover;
  background-color: #cccccc;
}

.kachel4 {
  background-image: url('mobil-im-freien.jpg');
  background-size: cover;
  background-color: #cccccc;
}

.kachel5 {
  background-image: url('kachel5.jpg');
  background-size: cover;
  background-color: #cccccc;
}

.kachel6 {
  background-image: url('kachel6.jpg');
  background-size: cover;
  background-color: #cccccc;
}

.kachel7 {
  background-image: url('kachel7.jpg');
  background-size: cover;
  background-color: #cccccc;
}

.kachel8 {
  background-image: url('present.jpg');
  background-size: cover;
  background-color: #cccccc;
}

.kacheltextbox {
  background-color: #fff; 
  text-align:center;
}



/* divs for row design ------------------------------------------------------------------------------- */
.container {
    justify-content: space-between !important; 
    display: flex;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    background-color: #f8f8f8;
}

.container-w {
    justify-content: space-between !important; 
    display: flex;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
}

.box24 {
    width: 24%;
    margin-top: 20px;
    /*border-top: solid black 1px;*/
    text-align: center;
}

.box26 {
    width: 26%;
    margin-top: 20px;
}

.box30 {
    width: 29%;
    margin-top: 20px;
    margin-right: 20px;
}

.box49 {
    width: 49%;
    margin-top: 20px;
}

.box74 {
  width: 74%;
  margin-top: 20px;
}

.content-box {
    width: 52%;
    min-width: 450px;
    line-height: 1.75;
    text-align: justify;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

/* SPEZIFISCHE HINTERGRÜNDE*/
.container-img {         /* Container für Bilder auf der Einführungsseite */
    width: 26%;
    margin-top: 20px;
}

.img-txt {               /* Container für Text unter den Bildern auf der Einführungsseite */
   font-size: 0.7em; 
   font-style: italic; 
   margin-left: 5%;
   float:right;
}

.box30_1 {
    width: 29%;
    margin-top: 20px;
    background-image: url('tblig.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

.box26_2 {
    background-image: url('https://live.staticflickr.com/343/19819155226_7a99e683d1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 47.6%;
}

.box26_3 {
    background-image: url('forsch1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 66.66666666666666666667%;
}

.box30_2_1{
    width: 29%;
    margin-top: 20px;
    background-image: url('https://live.staticflickr.com/343/19819155226_7a99e683d1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.box30_3 {
    width: 29%;
    margin-top: 20px;
    background-image: url('mobil-im-freien.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}


.box30_4 {
    width: 29%;
    margin-top: 20px;
    background-image: url('videokonf.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.EG {
  background-color: #ff857a;
  padding: 5px;
  line-height: 1;
  border-radius: 3px 10px;
}

.EG-txt {
  color: #ff857a;
  font-weight:700;
}

.KG {
  background-color: #d0d4d4;
  padding: 5px;
  line-height: 1;
  border-radius: 3px 10px;
}

.KG-txt {
  color: #919494; /*#d0d4d4*/
  font-weight:700;
}


/* DROPDOWN INFO BUTTONS  -------------------------------------------------------*/
.dropbtn_y {
  background-color: #d49c22;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}

.dropbtn_g {
  background-color: #ececec;
}
.dropdownbox {
  position: relative;
  display: inline-block;
  width:100%;
}

.dropdown-content {
  font-size: .8em;
  position: relative;
  padding:5px;
  background-color: #fff4d0;
  width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: justify;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdownbox:hover .dropdown-content {display: block;}

.dropdownbox:hover .dropbtn {background-color: #e5b412;}

summary {
  text-decoration: underline;
  cursor: pointer;
  padding: 10px;
  font-weight:700;
  font-size:19px;
  line-height: 20.9px;
}

details {
  border: 2px solid #cccccc;
  padding: 2px;
}

.noborder {
  border: 0 !important;
}

/* TABS --------------------------------------------------------------------------*/
/* inactive tab */
.nav-tabs-custom .nav-tabs > li > a {
  color: black;
  background-color: #fff4d0;
} 

/* active tab */
.nav-tabs-custom .nav-tabs > li.active > a {
  color: white;
  background-color: #d49c22;
} 

/* tab on hover */
.nav-tabs-custom .nav-tabs > li.active > a:hover {
  color: white;
  background-color: #FFC814;
}

